{% extends "flights/base.html" %}


{% block title %}
flight {{flight.id}}
{% endblock %}


{% block body %}
	<h1>{{flight}}</h1> 
	<ul>
		<li>Origin: {{flight.origin}} </li>
		<li>Destination: {{flight.destination}} </li>
	</ul>

	<h2>Passengers</h2>
	<ul>
		{% for passenger in passengers %}
		<li>{{passenger}}</li>
	{% empty %}
		<li>No Passengers!</li>
	{% endfor %}
	</ul>

	<hr>
	{% if non_passengers %}
	<h2> Add a Passenger </h2> 
	<form action = "{% url 'book' flight.id %}" method = "post"> 
		{% csrf_token %}
		<select name = "passenger">
			{% for passenger in non_passengers %}
				<option value="{{passenger.id}}"> {{passenger}} </option> 
			{% endfor %}
		</select>
		<input type = "submit" value = "Book Flight" />
	</form>

	{% else %}
		<div> No passengers to add </div>
	{% endif %}


	<a href = "{% url 'index' %}">Back to full list</a>
{% endblock %}